How will this end?

If China were to react brutally, the consequences would be disastrous—and not just for Hong Kong

It is summer, and the heat is oppressive. Thousands of students have been protesting for weeks, demanding freedoms that the authorities are not prepared to countenance. Oﬃcials have warned them to go home, and they have paid no attention. Among the working population, going about its business, irritation combines with sympathy. Everybody is nervous about how this is going to end, but few expect an outcome as brutal as the massacre of hundreds and maybe thousands of citizens.

Today, 30 years on, nobody knows how many were killed in and around Tiananmen Square, in that bloody culmination of student protests in Beijing on June 4th 1989. The Chinese regime’s blackout of information about that darkest of days is tacit admission of how momentous an event it was. But everybody knows that Tiananmen shaped the Chinese regime’s relations with the country and the world. Even a far less bloody intervention in Hong Kong would reverberate as widely (see Brieﬁng).

What began as a movement against an extradition bill, which would have let criminal suspects in Hong Kong be handed over for trial by party-controlled courts in mainland China, has evolved into the biggest challenge from dissenters since Tiananmen. Activists are renewing demands for greater democracy in the territory. Some even want Hong Kong’s independence from China. Still more striking is the sheer size and persistence of the mass of ordinary people. A general strike called for August 5th disrupted the city’s airport and mass-transit network. Tens of thousands of civil servants deﬁed their bosses to stage a peaceful public protest saying that they serve the people, not the current leadership. A very large number of mainstream Hong Kongers are signalling that they have no conﬁdence in their rulers.

As the protests have escalated, so has the rhetoric of China and the Hong Kong government. On August 5th Carrie Lam, the territory’s crippled leader, said that the territory was “on the verge of a very dangerous situation”. On August 6th an oﬃcial from the Chinese government’s Hong Kong oﬃce felt the need to ﬂesh out the implications. “We would like to make it clear to the very small group of unscrupulous and violent criminals and the dirty forces behind them: those who play with ﬁre will perish by it.” Anybody wondering what this could mean should watch a video released by the Chinese army’s garrison in Hong Kong. It shows a soldier shouting “All consequences are at your own risk!” at rioters retreating before a phalanx of troops.

The rhetoric is designed to scare the protesters oﬀ the streets. And yet the oppressive nature of Xi Jinping’s regime, the Communist Party’s ancient terror of unrest in the provinces and its historical willingness to use force, all point to the danger of something worse. If China were to send in the army, once an unthinkable idea, the risks would be not only to the demonstrators.

Such an intervention would enrage Hong Kongers as much as the declaration of martial law in 1989 aroused the fury of Beijing’s residents. But the story would play out diﬀerently. The regime had more control over Beijing then than it does over Hong Kong now. In Beijing the party had cells in every workplace, with the power to terrorise those who had not been scared enough by the tanks. Its control over Hong Kong, where people have access to uncensored news, is much shakier. Some of the territory’s citizens would resist, directly or in a campaign of civil disobedience. The army could even end up using lethal force, even if that was not the original plan.

With or without bloodshed, an intervention would undermine business conﬁdence in Hong Kong and with it the fortunes of the many Chinese companies that rely on its stockmarket to raise capital. Hong Kong’s robust legal system, based on British common law, still makes it immensely valuable to a country that lacks credible courts of its own. The territory may account for a much smaller share of China’s gdp than when Britain handed it back to China in 1997, but it is still hugely important to the mainland. Cross-border bank lending booked in Hong Kong, much of it to Chinese companies, has more than doubled over the past two decades, and the number of multinational ﬁrms whose regional headquarters are in Hong Kong has risen by two-thirds. The sight of the army on the city’s streets would threaten to put an end to all that, as companies up sticks to calmer Asian bases.

The intervention of the People’s Liberation Army would also change how the world sees Hong Kong. It would drive out many of the foreigners who have made Hong Kong their home, as well as Hong Kongers who, anticipating such an eventuality, have acquired emergency passports and boltholes elsewhere. And it would have a corrosive eﬀect on China’s relations with the world.

Hong Kong has already become a factor in the cold war that is developing between China and America. China is enraged by the high-level reception given in recent weeks to leading members of Hong Kong’s pro-democracy camp during visits to Washington. Their meetings with senior oﬃcials and members of Congress have been cited by China as evidence that America is a “black hand” behind the unrest, using it to pile pressure on the party as it battles with America over trade (a conﬂict that escalated this week, when China let its currency weaken—see next leader).

Were the Chinese army to go so far as to shed protesters’ blood, relations would deteriorate further. American politicians would clamour for more sanctions, including suspension of the act that says Hong Kong should be treated as separate from the mainland, upon which its prosperity depends. China would hit back. Sino-American relations could go back to the dark days after Tiananmen, when the two countries struggled to remain on speaking terms and business ties slumped. Only this time, China is a great deal more powerful, and the tensions would be commensurately more alarming.

None of this is inevitable. China has matured since 1989. It is more powerful, more conﬁdent and has an understanding of the role that prosperity plays in its stability—and of the role that Hong Kong plays in its prosperity. Certainly, the party remains as determined to retain power as it was 30 years ago. But Hong Kong is not Tiananmen Square, and 2019 is not 1989. Putting these protests down with the army would not reinforce China’s stability and prosperity. It would jeopardise them. 